@media screen and (max-width: 768px) {
  .home {
    gap: var(--space-8);
    padding: var(--space-8) 0;
  }

  .home__eyebrow {
    margin-bottom: var(--space-3);
  }

  .home__description {
    margin-bottom: var(--space-5);
    font-size: var(--font-size-md);
  }
}